<!DOCTYPE html>
<html ng-app>
    <head>
        <link rel='stylesheet' href='/bundles/framework/twitter/bootstrap/dist/css/bootstrap.min.css' type='text/css' media='all'>
        <meta charset="UTF-8" />
        <title>{% block title %}Weather{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="/bundles/framework/twitter/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
